body {
  margin: 0;
}
p {
  margin: 0;
}


.first-name {
  font-size: 160px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  margin: 0;
  margin-top: 88px;
}
.surname {
  font-size: 160px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
  position: absolute;
  margin: 0;
  margin-top: 220px;
}

#back-landscape {
  background-image: url("../images/fondo.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#front-landscape {
  background-image: url("../images/fondo2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#front-content {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 50%;
}

.name {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 28%
}

.profesion {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: white;
  font-style: normal;
  position: absolute;
  margin: 0;
  margin-top: 400px;
  padding-right: 1%;
}
#about-me {
  font-family: 'Lato', sans-serif;
  color: darkgrey;
  display: flex;
  height: 100vh;
  position: relative;
}

.about-description {
  color: rgb(19, 31, 37);
  font-weight: bold;
}

.me-left {
  font-size: 20px;
  position:absolute;
  margin-top: 10%;
  margin-left: 20%;
  text-align: left;
}

.me-right {
  font-size: 24px;
  font-weight: lighter;
  position:absolute;
  margin-top: 6%;
  margin-left: 50%;
  padding-right: 20%;
  line-height: 35px;
  font-style: normal;
  text-align: justify;
}
.my-name {
  font-size: 30px;
  color: rgb(2, 15, 23);
  font-weight: lighter;
}
#work {
  display: flex;
  height: 100vh;
  position: relative;
  background-color: rgba(21, 21, 21, 0.9);
}
